.container{
    color: antiquewhite;

}

/* основной контейнер хедера */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; /* отступы вокруг меню */
    position: relative;
    height: 5%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    font-family: 'Montserrat Alternates', sans-serif;
}

/* стили для меню */
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px; /* отступы между элементами меню */
}

nav a {
    display: block;
    color: ghostwhite; /* цвет ссылок меню */
    text-decoration: none;
    text-transform: uppercase; /* преобразование текста в верхний регистр */
    font-size: 20px;
    font-weight: bold;
    padding: 10px; /* отступы внутри элементов меню */
    transition: all 0.3s ease-in-out; /* плавное изменение свойств при наведении */
    background-color: rgba(51, 51, 51, 0.4);
    border-radius: 5px;
}

nav a:hover {
    color: #0B1235; /* цвет ссылок меню при наведении */
    background-color: #09A5E8; /* цвет фона ссылок меню при наведении */
    border-radius: 5px;
}

/* медиа-запрос для адаптивности */
@media (max-width: 768px) {
    nav {
        display: none; /* скрываем основное меню на мобильных устройствах */
    }
}
